<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>444967935062-e2vqk3kr3hg1otksrula3o25if3j0o75.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.444967935062-e2vqk3kr3hg1otksrula3o25if3j0o75</string>
	<key>API_KEY</key>
	<string>AIzaSyAeRqVE8z2OGIg-xprwQBN3QBe0xFH9Q18</string>
	<key>GCM_SENDER_ID</key>
	<string>444967935062</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.velocity360.chat-ios</string>
	<key>PROJECT_ID</key>
	<string>velocity-chat-app</string>
	<key>STORAGE_BUCKET</key>
	<string>velocity-chat-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:444967935062:ios:7694bc6f64a06d34</string>
	<key>DATABASE_URL</key>
	<string>https://velocity-chat-app.firebaseio.com</string>
</dict>
</plist>